.DS_Store
__pycache__
bin
data/
generated/
measurement/error/generated/
measurement/timing/generated/
mlibm/
nightlies/
obj/
requirements/debug_env.sh
requirements/done
requirements/log.txt
requirements/rust/
requirements/snake_egg/
